span{
    color: rgb(217 60 88);
}

#span-alt{
    color : rgb(254, 120, 24);
}

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 1rem 1.5rem;
    margin: 1.5rem auto;
    background-color: rgb(227,227,227);
    border-radius: 10px;
}

section img{
    width: 40%;
    border-radius: 10px;
}

form h2{
    font-size: 2rem;
    color: rgb(37, 72, 91);
    margin: 1rem 0;
}

form p{
    margin: 1rem 0;
}

label{
    font-size: 1.2rem;
}

form input{
    height: 1.2rem;
}

form input, textarea{
    display: block;
    width: 80%;
    margin: 0.5rem 0;
}

form a{
    text-decoration: none;
}

textarea{
    resize: none;
}

@media(max-width:600px){
    section{
        width: 70%;
    }

    section img{
        display: none;
    }

    form h2{
        font-size: 1.9rem;
    }
}